@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --text: #cfcfcf;
}
:root:has(.no-doc-scroll) {
  overflow: hidden;
  /* padding-right: 17px; */
}
/* * {
  outline: 1px solid red;
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-roboto-mono), monospace;
  font-size: 16px;
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider-dot {
  @apply appearance-none bg-black30 inline-flex cursor-pointer  p-0 m-0 w-2 h-2;
}
.slider-dot--selected {
  @apply bg-title justify-center;
}

.hoverFooter {
  @apply hover:font-bold hover:underline transition-all duration-300 ease-out;
}
